.container-social-item {

    height: 446px;
    margin: 10px;

}

.header-social-item {

    text-align: center;
    background-color: #0091EA;
    color: white;
    padding: 10px;

}

.section-white {

    padding: 40px;
    background-color: white;

}

.section-light-gray {

    padding: 40px;
    background-color: rgb(241, 238, 238);

}

.section-dark-gray {

    padding: 40px;
    background-color: rgb(66, 65, 65);
    color: white;

}

.image-gallery {

    width: 300px;
    height: auto;

}

.container-escenario-item {

    margin-bottom: 20px;

}

.escenario-item-detail {

    padding: 10px;

}

.header-foto-item {

    padding: 10px;
    background-color: rgb(66, 65, 65);
    color: white;

}

.header-delegacion-item {

    padding: 10px;

}

.login-container {
    padding-top: 60px;
    padding-bottom: 60px;
    background: url('../images/cocha.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.login-detail {

    background-color: white;
    margin-top: 20px;
    padding: 30px;
    margin-bottom: 10px;

}

.container-menu-item{

    margin-bottom: 20px;
    padding: 20px;
    text-decoration: none;
    color: black;

}


.footer{
    background-color: #FEFEFE;
}

.header-modal{

    text-align: center;
    background-color: #0091EA;
    color: white;
    padding: 20px;    

}